<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= detailUser.name %></h1>
    <ul>
      <li><%= detailUser.username %></li>
      <li><%= detailUser.email %></li>
    </ul>
    <h2>Posts</h2>
    <ul>
      <% detailUser.posts.forEach(postUser => { %>
      <li><a href="/posts/<%= postUser._id %>"><%= postUser.title %></a></li>
      <% }) %>
    </ul>
    <a href="/users/<%= detailUser._id %>/posts/create">Add Post</a>
    <form action="/users/<%= detailUser._id %>?_method=DELETE" method="POST">
      <input type="hidden" name="_id" value="<%= detailUser._id%>" />
      <button type="submit">Delete</button>
    </form>
    <a href="/users">&laquo;Back</a>
  </body>
</html>
